@import "tailwindcss";
@import 'react-modern-drawer/dist/index.css';


/* Hide scrollbar for all scrollable elements */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
